// ------------------------------------------------------------------- //
// Typography
// ------------------------------------------------------------------- //

@font-face {
    font-family: 'OmnesRegular';
    src: url('../fonts/omnes-webfont.eot');
    src: url('../fonts/omnes-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-webfont.woff') format('woff'),
         url('../fonts/omnes-webfont.ttf') format('truetype'),
         url('../fonts/omnes-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'OmnesMedium';
    src: url('../fonts/omnes_medium-webfont.eot');
    src: url('../fonts/omnes_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_medium-webfont.woff') format('woff'),
         url('../fonts/omnes_medium-webfont.ttf') format('truetype'),
         url('../fonts/omnes_medium-webfont.svg#OmnesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// ------------------------------------------------------------------- //
// Headers
// ------------------------------------------------------------------- //

h1 {
	.welcome & {
		font-family: 'OmnesRegular';
		color: $yellow;
	}
}

h2 {
	font-size: 21px;
	font-family: 'OmnesMedium';
	label {
		font-weight: normal;
	}
	.card & {
		color: $purple;
	}
	.card-title & {
		margin-top: 0px;
		padding-top: 0px;
	}
	.first-campaign & {
		    padding: 0px 0px 36px 0px;
		    margin: 0px;
		    font-family: 'OmnesRegular';
	}
}

h3 {
	font-size: 18px;
	font-weight: normal;
	label {
		font-weight: normal;
	}
	.page-title & {
		font-size: 21px;
		font-family: 'OmnesMedium';
	}

	form.card-content & {
		margin-bottom: 6px;
	}
	.image-upload & {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 12px;
		font-weight: bold;
		color: #ccc;
	}
	.image-info & {
		margin: 6px 0px 0px 0px;
	}
}

h4 {
	font-size: 16px;
}

td.campaign-title {
	font-family: 'OmnesRegular';
	letter-spacing: 0.2px;
	font-size: 18px !important;
}


// ------------------------------------------------------------------- //
// Paragraphs
// ------------------------------------------------------------------- //

p {
	color: lighten(#606060, 20%);
	font-weight: normal;
	&.caption {
		margin-bottom: 12px;
		@media only screen and (min-width : 1200px) {
			max-width: 50%;
		}
		.card-title & {
			@media only screen and (min-width : 1200px) {
				max-width: 100%;
			}
		}
	}

	.welcome & {
		color: white;
		font-size: 18px;
		margin-top: 24px;
	}

}


// ------------------------------------------------------------------- //
// Lists
// ------------------------------------------------------------------- //
ul {
	.image-info & {
		margin: 12px 0px;
		padding: 0px;
	}
	li {
		&.caption {
			color: lighten(#606060, 20%);
			font-weight: normal;
			list-style: none;
			margin: 0px;
			padding: 0px;
			line-height: 1.8;
			span {
				font-weight: bold;
			}
		}
	}
}
// ------------------------------------------------------------------- //
// Labels
// ------------------------------------------------------------------- //


.label {
	.stepper & {
		font-size: 16px;
	}
} 

.nav-tabs {
	li {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		&.active {
			font-weight: bold;
		}
	}
}

// ------------------------------------------------------------------- //
// Links
// ------------------------------------------------------------------- //

a {
	&.logo {
		font-family: 'OmnesRegular';
		font-size: 21px;
		text-decoration: none;
	&:hover {
			text-decoration: none;
		}
	}
	#sidebar & {
		color: white;
	}
	#header & {
		color: white;
	}
	.stepper & {
		&:hover {
			text-decoration: none;
		}
	}


	.copy & {
		&:hover {
			i {
				color: green;
			}
		}
	}

	.delete & {
		&:hover {
			i {
				color: red;
			}
		}
	}

	
	.launch & {
		&:hover {
			i {
				color: $yellow;
			}
		}
	}



}

// ------------------------------------------------------------------- //
// Buttons
// ------------------------------------------------------------------- //

.btn-primary, .btn, .btn-lg {
	@extend %shadow; 
    color: #fff;
    background-color: $yellow;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 18px 36px;
    font-weight: bold;

    &:hover {
    	background: darken($yellow, 5%);
    	color: white;
    }

	.card & {
		box-shadow: none;
		padding: 14px 24px 14px 24px;
	}

  &.btn-secondary {
    	background: transparent;
    	border: solid 2px $yellow;
    	color: $yellow;
    	padding: 12px 32px;
    	&:hover {
    		background: $yellow;
    		color: white;
    		i {
    			color: white;
    		}
    	}
	}
	.upload-button & {
		margin-top: 24px;
	}
	
}

.btn-circle {
	&:active, &:focus {
		background: $yellow;
		border: none;
	}
}


// ------------------------------------------------------------------- //
// Icons
// ------------------------------------------------------------------- //

i.material-icons {
	font-size: 21px;
	color: #bfbfbf;
	.active & {
		color: #f2b51e;
	}
	.btn & {
		font-size: 18px;
		color: #fff;
		position: relative;
    	top: 3px;
    	line-height: 12px;
    	// right: -3px;
	}
	.btn-secondary & {
		color: $yellow;
	}
	#header & {
		color: white;
	}
	#sidebar & {
		color: darken($purple,70%);
	}

	.addmore & {
		position: absolute;
	    left: 0px;
	    top: 0px;
		border-radius: 50px;
		font-size: 26px;
	    line-height: 50px;
	    // background: yellow;
	    height: 50px;
	    width: 50px;
	    text-align: center;
	}
	.page-title & {
		position: relative;
		margin-right: 12px;
		top: 3px;
	}
	.profile & {
		position: relative;
    	top: 7px;
	}

	.options & {
		position: relative;
		margin-right: 3px;
		top: 5px;
		left: -6px;
		color: $yellow;
	}
	.alert-danger & {
		position: relative;
		margin-right: 3px;
		top: 5px;
		color: red;
	}
	.has-error & {
		color: #e72429;
	}

	.input-group-addon & {
		position: relative;
		top: 1px;
	}
	.image-upload & {
		color: $yellow;
		display: inline-block;
		padding-bottom: 12px;
		font-size: 42px;
	}

	.popup & {
		transform: rotate(180deg);
	}

}


// ------------------------------------------------------------------- //
// Cards
// ------------------------------------------------------------------- //

