
.borderless td, .borderless th {
	border: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border: none;
}

.table {
	margin-bottom: 0px;
	padding-bottom: 0px;
}


.navbar-nav>li>a {
    padding: 0px 0px;
}

.nav-tabs {
	border-bottom: none !important;
}

// .navbar-brand {
//     float: left;
//     padding: 0px;
//     font-size: 18px;
//     line-height: 36px;
//     height: 40px;
//     position: relative;
// }


.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.btn-default.dropdown-toggle.focus, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle:hover {
	background: $yellow;
	border: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: none;
}


// ------------------------------------------------------------------- //
// Grid Fix Bootstrap Size
// ------------------------------------------------------------------- //


.target-actions, .advanced-settings, .edit-design {
	@media only screen and (max-width : 1400px) {
		.col-lg-8 {
			@include make-lg-column(10);
			@include make-lg-column-offset(1);
		}
	}
}

.landing-page {
	@media only screen and (max-width : 1550px) {
		.col-lg-8 {
			@include make-lg-column(10);
			@include make-lg-column-offset(1);
		}
	}
}


