// ------------------------------------------------------------------- //
// Status Switch
// ------------------------------------------------------------------- //

.material-switch > {
  input[type="checkbox"] {
    display: none;
  }
  label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 24px;
    &::before {
      background: rgb(0, 0, 0);
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 8px;
      content: '';
      height: 14px;
      margin-top: -6px;
      position: absolute;
      opacity: 0.3;
      transition: all 0.2s ease-in-out;
      width: 26px;
      left: 0px;
    }
    &::after {
      background: rgb(255, 255, 255);
      border-radius: 8px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      content: '';
      height: 8px;
      width: 8px;
      left: 3px;
      margin-top: -6px;
      position: absolute;
      top: 3px;
      transition: all 0.2s ease-in-out;
      
    }
  }
  input[type="checkbox"]:checked + label {
    &::before {
      background: #28C928;
      opacity: 0.8;
    }
    &::after {
      background: rgb(255, 255, 255);
      left: 14px;
    }
  }
}


// ------------------------------------------------------------------- //
// Status Switch
// ------------------------------------------------------------------- //

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}


// ------------------------------------------------------------------- //
// Content Cards
// ------------------------------------------------------------------- //

%card {
  background: #fff;
  border-radius: 3px;
}

%card-padding {
  padding: 36px 40px;
}

%shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
}

// ------------------------------------------------------------------- //
// Steppers
// ------------------------------------------------------------------- //

%stepper {
    height: 36px;
    width: 36px;

    display: inline-block;
    border-radius: 36px;
    text-align: center;
    line-height: 36px;
    
    color: white;
    background: $yellow;
}

// ------------------------------------------------------------------- //
// Remove Borders
// ------------------------------------------------------------------- //


