// ------------------------------------------------------------------- //
// Body
// ------------------------------------------------------------------- //

body {
	background: rgba(227,227,227,1);
	color: #606060;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.landing-page {
    	background-color: darken(#621b48,5%);
    	width: 100vw;
		&::before {
			content: '';
			position: absolute;
	    	top: 0px;
	    	right: 0;
			height: 100vh;
			width: calc(100vw);
			display: inline-block;
			background: url('../images/map.svg');
			background-size: cover;
			background-repeat: no-repeat !important;
			background-position-x: 150px;
			background-position-y: 50px;
		}
    }
}

// ------------------------------------------------------------------- //
// Header
// ------------------------------------------------------------------- //


// ------------------------------------------------------------------- //
// Header
// ------------------------------------------------------------------- //

#header{
  background: rgba(242,181,30,1);
  color: white;
}

.logo {
	// this should be converted in to a mixin
	&::before {
		content: '';
		position: relative;
    	top: 12px;
		height: 36px;
		width: 36px;
		margin-right: 20px;
		display: inline-block;
		background: url('../images/logo@2x.png');
		background-size: cover;
	}
}

// ------------------------------------------------------------------- //
// Aside
// ------------------------------------------------------------------- //


#sidebar {
	color: white;  
  	background: rgba(98,27,72,1);
}

.sidebar-header {
	border-bottom: solid 1px darken($purple,5%);
}

.help {
	border-top: solid 1px darken($purple,5%);
	li {
		a {
			color: white;
		}
	}
}


.side-nav {
	background: #621b48;
	li {
		border-bottom: solid 1px darken($purple,5%);
		a {
			&:hover, &:focus {
				background: darken($purple,2%);
			}
			&.active  {
				background: darken($purple,2%);
			}
		}
	}
}

// ------------------------------------------------------------------- //
// Campaign Tables
// ------------------------------------------------------------------- //

.campaigns {
  td {
    span.label {
      display: none;
    }
  }
}

// ------------------------------------------------------------------- //
// Campaigns
// ------------------------------------------------------------------- //

.campaigns {
	@extend %card;
	@extend %shadow;
}

td {
	&.popup i {
		transform: rotate(180deg);
	}
	&.campaign-title {
		font-size: 16px;
		color: #621b48;
	}
}

.table>tbody>tr{
	> td {
		border-bottom: solid 1px #e3e3e3;
	}
	&:last-of-type {
		> td {
			border-bottom: 0px;
		} 
	}
}


// ------------------------------------------------------------------- //
// Bulk Nav
// ------------------------------------------------------------------- //

.bulk-nav {
	@extend %card;
	@extend %shadow;
	ul {
		li {
			border-bottom: solid 1px $light-grey;
		}
	}
	span.label {
      display: none;
    }
}

// ------------------------------------------------------------------- //
// Card
// ------------------------------------------------------------------- //

.card {
	@extend %card;
	@extend %shadow;
	@extend %card-padding;
}

.card-image {
	img {
		border-radius: 3px 3px 0px 0px;
	}
}


// ------------------------------------------------------------------- //
// Landing Page
// ------------------------------------------------------------------- //

.landing-page {

	.card-title {
		margin-bottom: 30px !important;
	}
	.card {
		padding: 30px;
		.btn {
			margin-top: 0px;
			width: 100%;
		}
		p {
			margin-bottom: 0px;
		}
	}
	.btn {
		margin-top: 12px;
	}
}


// ------------------------------------------------------------------- //
// First Campaign
// ------------------------------------------------------------------- //

.first-campaign {
	@extend %card;
	@extend %shadow;
	@extend %card-padding;
}

// ------------------------------------------------------------------- //
// New Campaign
// ------------------------------------------------------------------- //

.new-campaign {
	@extend %card;
	@extend %shadow;
	@extend %card-padding;
}

.step-content {
	.campaign-title {
		margin-top: 30px;
		.help-block {
			margin-bottom: 0px;
			font-weight: normal;
			li {
				margin: 0px;
				margin-right: 0px;
				margin-left: 0px;
				font-weight: normal;
			}
		}
	}
}



// ------------------------------------------------------------------- //
// Steppers
// ------------------------------------------------------------------- //

.stepper {
	font-weight: bold;
	.circle {
		@extend %stepper;
		background: $light-grey;
		#header & {
			line-height: 33px;
			border: solid 2px #fff;
			background: transparent;
		}
	}

	.step {
		&.active {
			.circle {
				background: $yellow;
			}
		}
	}

	#header & {
		background: #ec9a11;
		text-align: center;
		margin: 0 -15px;
		padding: 24px 24px 30px 24px;
		list-style: none;
		li {
			display: inline-block;
		}
	}
}


.stepper-vertical .step {
	margin-bottom: 30px;
}

.stepper-vertical > li {
	position: relative;
}

.stepper-vertical > li:not(:last-child)::before {
    content: " ";
    position: absolute;
    top: 42px;
    left: 32px;
    // bottom: 0px;
    height: calc(100% - 20px);
    width: 1px;
    display: block;
    background: $light-grey;
}

.stepper-horizontal {
	position: relative;
}



.stepper-horizontal  {
	.step {
		margin-right: 50px;
		&:last-of-type {
			margin-right: 0px;
		}
	}		
}

.stepper-horizontal {
	li {
		position: relative;
		opacity: 0.5;
		&.active {
			opacity: 1;
		}
	}
}

.stepper-horizontal li:not(:last-child)::before {
    content: " ";
    position: absolute;
    top: 18px;
    right: -47px;
    height: 1px;
    width: 50px;
    display: block;
    background: rgba(255,255,255,0.5);
}



// ------------------------------------------------------------------- //
// Tabs
// ------------------------------------------------------------------- //



.filter {
	#header & {
		background: #ec9a11;
	}
}
// ------------------------------------------------------------------- //
// Single-form
// ------------------------------------------------------------------- //

.single-form {
	.control-label {
		margin-bottom: 0px;
		color: lighten(#666, 10%);
		font-weight: normal;
		.has-error & {
			color: #a94442;
		}
	}
	input {
		font-size: 18px;
		// color: lighten(#666, 80%);
		padding: 6px 0px;
		margin-bottom: 12px;
		border: 0px;
		border-radius: 0px;
		border-bottom: solid 1px #ccc;
		font-weight: normal;
		&:focus {
			box-shadow: none;
			border-bottom: solid 2px #ec9a11;
		} 
	}
	.help-block {
		margin-bottom: 30px;
		color: lighten(#666, 10%);
		.has-error & {
			color: #a94442;
		}
	}

	::placeholder { /* WebKit, Blink, Edge */
    	color: lighten(#666, 40%);
	}

	&.has-error {
		border: none;
		box-shadow: none;
		color: #a94442;
		input {
			box-shadow: none;
			border-bottom: solid 2px #E72429; 
			&:focus {
				box-shadow: none;
			}
		}
		::placeholder {
			color: #E72429;
		}
	}

}

span.required {
	color: #E72429;
}

.has-error {
	color: #E72429 !important;
	label {
		color: #E72429 !important;
	}
	input {
		color: #E72429 !important;
	}
	.with-errors {
		color: #E72429 !important;
	}
}


// ------------------------------------------------------------------- //
// Select Style
// ------------------------------------------------------------------- //


.form-group {
	.control-label {
		color: lighten(#666, 10%);
	}
	::placeholder { /* WebKit, Blink, Edge */
    	color: lighten(#666, 40%);
	}
}


.options {

	label {
		font-size: 15px;
		color: $purple !important;	
	  display:block;
	  border: solid 2px $light-grey;
	  padding: 22px 0px 28px 0px;
	  border-radius:3px;
	  -webkit-font-smoothing: antialiased; 
	  margin-top:10px;
	  font-family:Arial,Helvetica,sans-serif;
	  color:gray;
	  text-align:center;

		span {
			display: block;
			font-size: 14px;
			font-weight: normal;
			color: #939393;
		}

	  	&:hover {
			border: solid 2px $yellow;
		}
	}

	input[type=checkbox] {
	  display: none;
	}

	input:checked + label {
	  border: solid 2px $yellow;
	  background: $yellow;
	  color: white;
	  i {
	  	color: white;
	  }
	  	span {
			display: block;
			font-size: 14px;
			font-weight: normal;
			color: rgba(255,255,255,0.8);
		}
	}

}


// ------------------------------------------------------------------- //
// Upload Image
// ------------------------------------------------------------------- //

.image-upload {
	border: dashed 1px $light-grey;
	.form-group {
		border-radius: 3px;
		// background: #f9f9f9;
		margin: 12px;
		border: solid 2px $light-grey;
		padding: 50px 10px 80px 10px;
		.image-uploaded & {
			border: 0px;
		}
	}
}

.uploaded-image {
	@extend %shadow;
}

