// Structure

// ------------------------------------------------------------------- //
// Body
// ------------------------------------------------------------------- //

#app-container {
	overflow: hidden;
}

.landing-page {
	position: relative;
	// background: yellow;
	height: 100%;
	.welcome {
		margin-bottom: 60px;
		h1 {
			margin-top: 60px;
		}
	}
	@media only screen and (max-width : 1200px) {
		.card { 
			margin-bottom: 30px;
		}
	}
}

// ------------------------------------------------------------------- //
// Header
// ------------------------------------------------------------------- //


#header {
	@media only screen and (min-width : 1200px) {
		width: calc(100% - 300px);
	}
	.profile {
		// margin-left: 24px;
	}
}

.main-header {
	padding:0px 24px;
}

.bootstrap-fix, .side-nav {
	max-width: 300px;
	li {
		max-width: 300px;
	}
}


// ------------------------------------------------------------------- //
// Aside
// ------------------------------------------------------------------- //


// Fix for sidebar height
#sidebar {
	// height: 100vh;
	min-height: 100%;
	height: 100%;
	background-repeat: repeat;
   	margin-bottom: -99999px;
   	padding-bottom: 99999px;
}


aside {
	@media only screen and (min-width : 1200px) {
		max-width: 300px;
	}
}

aside nav {
	min-height: 100vh;
}

#sidebar {
	nav {
		.fixed-wrapper {
			// width: 278px;
			position: fixed;
			height: 100vh;
		}
	}
}

.sidebar-header {
	position: relative;
	height: 86px;
	.logo {
		line-height: 80px;
	}
}

.main-header {
	position: relative;
	height: 85px;
	.page-title {
		h3 {
			margin-left: 24px;
			line-height: 80px;
			margin: 0px;
		}
	}
	.profile {
		line-height: 80px;
		// margin-right: 24px;
		a {
			margin-top: 24px;
			margin-right: 12px;
		}
	}
}

.collapsednav-toggler {
	float: right;
	margin-top: 30px;
    margin-right: 8px;
}

// Temp


.sidebar-header {
	margin: 0px -15px;
	padding: 0px 15px;
}

.help {
	position: absolute;
	bottom: 0px;
	width: calc(100% + 30px);
	margin: 0px -15px;
	padding: 0px 15px;
	ul {
		width: calc(100% + 30px);
		margin: 0px -15px;
		padding: 0px 15px;
	}
	li {
		display: block;
		width: calc(100% + 30px);
		margin: 0 0 0 -15px;
		a {
			padding: 18px 24px 24px;
		}
	}
}


.side-nav {
	margin: 0px -15px;
	padding: 0px 15px;
	li {
		display: block;
		width: calc(100% + 30px);
		margin: 0 0 0 -15px;
		a {
			padding: 18px 24px 24px 24px;
			span {
				margin-left: 30px;
			}
		}
		i {
			position: relative;
    		top: 5px;
    		&.dropdown {
    			float: right;
    		}
		}
	}
}



// ------------------------------------------------------------------- //
// Main
// ------------------------------------------------------------------- //

// Fixes width (check out sidebar for relating width)
#main-content {
	@media only screen and (min-width : 1200px) {
		width: calc(100% - 300px);
	}
}

// ------------------------------------------------------------------- //
// Campaigns
// ------------------------------------------------------------------- //


.first-campaign-sign-up {
	.col-lg-6 {
		@media only screen and (max-width : 1400px) {
			@include make-lg-column(8);
			@include make-lg-column-offset(2);
		}
	}
}


.card-title {
	margin-bottom: 40px !important;
	p.caption {
		margin-bottom: 0px !important;
	}
	.alert {
		margin-top: 24px;
	}
}

.card-image {
	    margin: -30px -30px 24px -30px;
}


.campaigns {
	padding: 0px;
	td  {
		&.icon {
			width: 38px;
			text-align: center;
		}
		.material-switch {

		}
		&:last-of-type {
			padding: 36px 36px 0px 12px !important;
		}

		// &.more, &.mail, &.popup, &.popunder {
		// 	width: 20px;
		// 	text-align: right;
		// 	padding-left: 10px;
		// 	padding-right: 10px;
		// }	
		// &.bulk {
		// 	width: 54px;
		// }
	}
}

section.content {
	margin: 30px 0px;
}

.loadmore {
	margin: 30px 0px;
}


.body-scripts, .header-scripts, .campaign-section, .select-style {
	margin-bottom: 40px;
}



// ------------------------------------------------------------------- //
// Bulk Nav
// ------------------------------------------------------------------- //

.bulk-nav {
	max-width: 42px;
	text-align: center;
	ul {
		margin-bottom: 0px;
		li {
			height: 58px;
			padding: 18px 10px 24px 10px;
		}
	}
}


// ------------------------------------------------------------------- //
// Steppers
// ------------------------------------------------------------------- //

.stepper {
	&.stepper-vertical {
		li {
			@include make-row();
			.step-num {
				 @include make-sm-column(2);
			}
			.step-content {
				 @include make-sm-column(10); 
			}
		}
	}
}

// ------------------------------------------------------------------- //
// Tabs
// ------------------------------------------------------------------- //

.nav-tabs {
	margin-bottom: -3px;
	li {
		width: calc(100% / 5);
		
		margin: 0px -1px;
		a {
			padding: 12px 0px 12px 0px;
		}
	}
	@media only screen and (min-width : 1530px) {
		@include make-md-column(6);
		@include make-md-column-offset(3);
	}
	.li-form {
		position: relative;
    	bottom: 0px;
	}
}

#header {
	.search-field {
		display: none !important;
	}
	.sr-only {
		display: none !important;
	}
}

// ------------------------------------------------------------------- //
// Add more
// ------------------------------------------------------------------- //

.addmore {
	position: fixed;
	bottom: 40px;
	right: 40px;
}

.preview {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 999;
}


// ------------------------------------------------------------------- //
// Campaign Buttons
// ------------------------------------------------------------------- //

.campaign-buttons {
	padding-top: 0px;

	.pull-right {
		.btn:last-of-type {
			margin-left: 24px;
		}
	}

}


// ------------------------------------------------------------------- //
// Upload Image
// ------------------------------------------------------------------- //

.image-upload {
	position: relative;
	margin-top: 10px;
	.input-group {
	    position: initial;
	    display: block;
	}
	h3 {
		position: relative;
		z-index: 600;
		.image-uploaded & {
			color: white;
			opacity: 0.9;
		}
	}
	i {
		.image-uploaded & {
			color: white;
			opacity: 0.9;
		}
	}
	.uploaded-image-overlay {
		z-index: 500;
	}
	.uploaded-image-overlay, .uploaded-image {
		position: absolute;
		margin: 12px;
		top: 0px;
		left: 0px;
		bottom: 0px;
		height: calc(100% - 24px);
		width: calc(100% - 24px);
		background-color: rgba(0,0,0,0.2);
	}
	.uploaded-image {
		z-index: 400;
		background-color: transparent;
		background-repeat: no-repeat;
    	background-size: cover;
		background-position: 50%;
	}
}



.upload-image {
	// height: 290px;
	&.campaign-section {
		margin-bottom: 0px;
	}
	.image-info {
		position: relative;
		top: 12px;
	}
}


