// ------------------------------------------------------------------- //
// Break-points
// ------------------------------------------------------------------- //


@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: 769px) and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1281px) and (max-width: 1440px) {
    @content;
  }
}

@mixin super {
  @media only screen and (min-width: 1441px) {
    @content;
  }
}

// ------------------------------------------------------------------- //
// Dynamic Property Mixin
// ------------------------------------------------------------------- //

@mixin prop($property, $phoneval, $tabletval, $laptopval, $deskval, $superval) {
  @include phone {
    #{$property}: #{$phoneval};
  }

  @include tablet {
    #{$property}: #{$tabletval};
  }

  @include laptop  {
    #{$property}: #{$laptopval};
  }

  @include desktop  {
    #{$property}: #{$deskval};
  }

  @include super {
    #{$property}: #{$superval};
  }
}


// ------------------------------------------------------------------- //
// Make item visible 
// ------------------------------------------------------------------- //

@mixin toggleVisbility($class) {
  #{$class} {
    display: none;
    pointer-events: none;
    &.active {
      display: block;
      pointer-events: inherit;
    }
  }
}

@mixin toggleOpacity($class) {
  #{$class} {
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
      pointer-events: inherit;
    }
  }
}


// ------------------------------------------------------------------- //
// Round Images
// ------------------------------------------------------------------- //

@mixin roundImage($height, $width, $radius) {
  height: $height;
  width: $width;
  border-radius: $radius; 
}




